services:
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "80:4000"        # ONLY public entry
    env_file:
      - .env
    depends_on:
      - restaurant-service
      - beverage-service
      - event-service
      - user-service
      - social-service
    restart: always

  restaurant-service:
    build: ./restaurant-service
    container_name: restaurant-service
    expose:
      - "4001"           # internal only
    env_file:
      - .env
    restart: always

  beverage-service:
    build: ./beverage-service
    container_name: beverage-service
    expose:
      - "4002"
    env_file:
      - .env
    restart: always

  event-service:
    build: ./event-service
    container_name: event-service
    expose:
      - "4003"
    env_file:
      - .env
    restart: always

  user-service:
    build: ./user-service
    container_name: user-service
    expose:
      - "4004"
    env_file:
      - .env
    restart: always

  social-service:
    build: ./social-service
    container_name: social-service
    expose:
      - "4005"
    env_file:
      - .env
    restart: always
